@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
@import url('./assets/clear.css');
@import url('./assets/constants.css');

body {
	background: #000;
	font-family: Inter, sans-serif;
	font-weight: 400;
	color: var(--color-white);
}
.container {
	margin: 0 auto;
	max-width: 1440px;
}

.btn {
	padding: 0;
	width: 220px;
	height: 55px;
	background: var(--color-gold);
	font-size: 20px;
	color: var(--color-black);
	transition: .3s;
}

.btn:hover {
	color: var(--color-white);
}

.header {
  background-image: url('./assets/images/hero-bg.jpg');
  background-position: center 0px;
  background-repeat: no-repeat;
}

.header .container {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__content {
	display: flex;
	gap: 34px;
	color: #fff;
	font-size: 20px;
}

.logo {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	transition: .3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.logo__link {
	width: 100%;
	height: 100%;
	display: block;
}

.logo__icon {
	width: 100%;
  height: 100%;
}

.menu__list {
	display: flex;
	gap: 30px;
}

.menu__link,
.lang__item {
	transition: .3s;
}

.lang {
	display: flex;
	gap: 8px;
}

.lang__ru,
.lang__en {
	padding: 0;
	color: #fff;
	font-family: Inter, sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.menu__link:hover,
.lang__item:hover,
.lang__item_active {
	color: var(--color-gold);
}

.hero {
	padding: 181px 0 330px 80px;
  background-image: url('./assets/images/hero-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero__title {
	color: var(--color-white);
	font-family: Merriweather, serif;
	font-size: 60px;
	font-weight: 700;
}

.hero__description {
	padding: 33px 0 26px;
	max-width: 470px;
	color: var(--color-white);
	font-size: 20px;
	line-height: 40px;
}

.skills,
.portfolio,
.video,
.price {
	padding: 100px 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__tittle_wrapper,
.portfolio__tittle_wrapper,
.video__tittle_wrapper,
.price__tittle_wrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.skills__title,
.portfolio__title,
.video__title,
.price__title {
	padding: 0 20px;
	font-family: Merriweather, serif;
	font-size: 40px;
	color: var(--color-gold);
	background: var(--color-black);
	line-height: 80px;
}

.skills__list {
	padding-top: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills__item {
	padding: 0 20px 8px;
	max-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__icon_photo,
.skills__icon_video,
.skills__icon_retouch,
.skills__icon_audio {
	height: 50px;
}

.skills__icon_photo {
	width: 62px;
  background-image: url('./assets/icons/photo.svg');
}

.skills__icon_video {
	width: 60px;
  background-image: url('./assets/icons/video.svg');
}

.skills__icon_retouch {
	width: 66px;
  background-image: url('./assets/icons/retouch.svg');
}

.skills__icon_audio {
	width: 32px;
  background-image: url('./assets/icons/audio.svg');
}

.skills__caption {
	padding: 58px 0 29px;
	font-weight: 700;
	font-size: 20px;
}

.skills__description {
	max-width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

.portfolio__filter {
	padding-top: 61px;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.portfolio__filter .btn {
	color: var(--color-gold);
	font-size: 20px;
	background: var(--color-black);
	border: 2px solid var(--color-gold);
}

.portfolio__filter .btn:hover,
.portfolio__filter .btn_active {
	color: var(--color-black);
	font-size: 20px;
	background: var(--color-gold);
}

.portfolio__list {
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
}

.portfolio__item {
	max-height: 560px;
}

.video__content {
	padding-top: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video__play {
	width: 130px;
	height: 130px;
	position: absolute;
	background-image: url('./assets/icons/play.svg');
}

.video__play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price {
	padding: 100px 20px 100px;
}

.price__cards {
	padding: 60px 0 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: center;
	align-items: center;
}

.card {
	padding: 10px 0 40px;
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid var(--color-gold);
}

.card__title {
	padding: 40px 0 32px;
	font-family: Merriweather, serif;
	font-size: 28px;
	color: var(--color-white);
}

.card__price {
	font-family: Merriweather, serif;
	font-size: 24px;
	line-height: 48px;
	color: var(--color-gold);
}

.priority__list {
	padding: 19px 0 39px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.priority__description {
	font-size: 18px;
	line-height: 36px;
}

.card .btn {
	line-height: 50px;
	letter-spacing: .6px;
}

.contact {
	padding: 60px 20px 195px 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-image: url('./assets/images/contacts.jpg');
	background-position: center;
}

.contact__form {
	max-width: 450px;
}

.contact__title {
	padding-bottom: 40px;
	font-family: Merriweather, serif;
	font-size: 40px;
	line-height: 80px;
	color: var(--color-gold);
}

.contact__input {
	margin-bottom: 20px;
	padding: 5px 20px;
	width: 100%;
	font-size: 20px;
	line-height: 36px;
	color: var(--color-gold);
	border: 2px solid var(--color-gold);
	background-color: rgba(0, 0, 0, .5);
	transition: .3s;
}

.contact__input:required:invalid:focus {
  border: 2px solid #ff0000;
}

.contact__input:required:valid:focus {
  border: 2px solid #00ff00;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-family: inherit;
  font-size: 20px;
  color: var(--color-gold);
}

.contact__textarea {
	margin-bottom: 26px;
	padding: 0 18px;
	width: 100%;
	font-family: Inter, sans-serif;
	font-size: 20px;
	line-height: 48px;
	color: var(--color-gold);
	border: 2px solid var(--color-gold);
	outline: none;
	background-color: rgba(0, 0, 0, .5);
	resize: none;
}

.footer .container {
	padding: 59px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.github {
	display: flex;
	gap: 20px;
}

.github__item,
.rsschool__link {
	font-size: 20px;
}

.rsschool {
	padding-left: 19px;
}

.socials {
	display: flex;
	gap: 20px;
}

.socials__link {
	width: 32px;
	height: 32px;
	display: block;
	transition: .3s;
	background-repeat: no-repeat;
}

.socials__link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.socials__link_inst {
	background-image: url('./assets/icons/inst.svg');
}

.socials__link_fb {
	background-image: url('./assets/icons/fb.svg');
}

.socials__link_tw {
	background-image: url('./assets/icons/tw.svg');
}

.socials__link_pin {
	background-image: url('./assets/icons/pinterest.svg');
}
