:root {
	--color-gold: #bdae82;
	--color-white: #ffffff;
	--color-black: #000000;
	--fz-h1: 60px;
	--fz-general: 20px;
	--fz-title: 40px;
	--fz-desc: 18px;
	--fz-card-title: 28px;
	--fz-card-price: 24px;
	--lh40: 40px;
	--lh-title: 80px;
	--lh-desc: 36px;
	--lh-card-price: 48px;
	--lh-textarea: 48px;
}

@media (max-width: 768px) {
	:root {
		--fz-h1: 32px;
		--fz-title: 32px;
		--lh40: 24px;
		--lh-title: 40px;
		--lh-desc: 22px;
		--lh-input: 36px;
	}
}
